.bv {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -4;
    width: 75%;
    height: 75%;
    top: 5%;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: "Noto Sans Sinhala", sans-serif;
}
.p{
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width:50% ;
    height: auto;
    margin-left: 50%;
    font-size: 15px;
}
h2{
    font-size: 20px;
}
.home{
    position: absolute;
    left: 90%;
    z-index: 1000;
    background-color: #4443433b;
    border: none;
    color: #FFF;
    font-weight: bolder;
    font-size: 25px;
}
.a{
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.a::after{
    content: "";
    position: absolute;
    background-color: #FF00C8;
    height: 3px;
    width: 0;
    left: 20px;
    bottom: -15px;
    transition: 0.4s;
}
.a:hover::after{
width: 400%;
}
.a:hover{
    color: #ffffff;
}